body {
    background-color: white;
}
h1 {
    text-align: center;
    color: blue;
    font-size: 30px;
}
h4{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
}
p2{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 20px;
}
h2 {
    text-align: center;
    color: red;
    font-size: 20px;
}
h3 {
    text-align: center;
    color: green;
    font-size: 20px;
}
